name: Engine (cross platform)

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  pull_request:
    paths:
      - 'engine/**'

jobs:
  tests-windows:
    permissions:
      id-token: write
      contents: read
    name: WindowsEngineTests
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Test engine
        run: make engine-unit-tests

  tests-macos:
    permissions:
      id-token: write
      contents: read
    name: MacOSEngineTests
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Test engine
        run: make engine-unit-tests