name: gomodguard
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  check:
    name: Check for allowed dependencies per module
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      pull-requests: write
      contents: write
    steps:
      - uses: actions/checkout@v5

      - name: Hub login
        uses: docker/login-action@v3
        with:
          username: dockerpublicbot
          password: ${{ secrets.DOCKERPUBLICBOT_WRITE_PAT }}

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: cloud
          endpoint: "docker/secrets-engine"
          install: true

      - name: Lint
        run: make BUILDER=${{ steps.buildx.outputs.name }} gomodguard
