# Copyright 2025-2026 Docker, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Keychain
on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  pull_request:
    paths:
      - 'store/**'
jobs:
  linux-keychain:
    permissions:
      id-token: write
      contents: read
    name: LinuxKeychainTests
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        subtest:
          - fedora-43-gnome-keyring
          - ubuntu-24-gnome-keyring
          # disabled kdewallet tests since it prompts for a password in a
          # headless environment... need to still fix this
          # - fedora-43-kdewallet
          # - ubuntu-24-kdewallet
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Hub login
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERBUILDBOT_USERNAME }}
          password: ${{ secrets.DOCKERBUILDBOT_WRITE_PAT }}
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: cloud
          endpoint: "docker/secrets-engine"
          install: true
      - name: Test
        run: DOCKER_TARGET=${{ matrix.subtest }} make keychain-linux-ci-unit-tests
  tests-windows:
    permissions:
      id-token: write
      contents: read
    name: WindowsKeychainTests
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - windows-2022
          - windows-2025
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/go
        with:
          app_id: ${{ vars.DOCKER_READ_APP_ID }}
          app_private_key: ${{ secrets.DOCKER_READ_APP_PRIVATE_KEY }}
      - name: Test keychain
        run: make keychain-unit-tests
  tests-macos:
    permissions:
      id-token: write
      contents: read
    name: MacOSKeychainTests
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macOS-26
          - macOS-15
          - macOS-14
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/go
        with:
          app_id: ${{ vars.DOCKER_READ_APP_ID }}
          app_private_key: ${{ secrets.DOCKER_READ_APP_PRIVATE_KEY }}
      - name: Test keychain
        run: make keychain-unit-tests
