name: Keychain
on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  pull_request:
    paths:
      - 'store/**'
jobs:
  linux-keychain:
    permissions:
      id-token: write
      contents: read
    name: LinuxKeychainTests
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        subtest:
          - fedora-43-gnome-keyring
          - fedora-43-kdewallet
          - ubuntu-24-gnome-keyring
          - ubuntu-24-kdewallet
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Hub login
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERBUILDBOT_USERNAME }}
          password: ${{ secrets.DOCKERBUILDBOT_WRITE_PAT }}
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: cloud
          endpoint: "docker/secrets-engine"
          install: true
      - name: Test
        run: DOCKER_TARGET=${{ matrix.subtest }} make keychain-linux-unit-tests
  tests-windows:
    permissions:
      id-token: write
      contents: read
    name: WindowsKeychainTests
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - windows-2022
          - windows-2025
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: ./store/go.mod
      - name: Test keychain
        run: make keychain-unit-tests
  tests-macos:
    permissions:
      id-token: write
      contents: read
    name: MacOSKeychainTests
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macOS-15
          - macOS-14
          - macOS-13
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: ./store/go.mod
      - name: Test keychain
        run: make keychain-unit-tests
