name: Lint
on:
  push:
    branches:
      - main
  pull_request:
permissions:
  contents: read # to fetch code (actions/checkout)
jobs:
  validate:
    name: Validate license and lint
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target:
          - validate-headers
          - lint
    permissions:
      id-token: write
      pull-requests: write
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.work
      - name: Hub login
        uses: docker/login-action@v3
        with:
          username: dockerpublicbot
          password: ${{ secrets.DOCKERPUBLICBOT_WRITE_PAT }}
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: cloud
          endpoint: "docker/secrets-engine"
          install: true
      - name: Lint
        run: make BUILDER=${{ steps.buildx.outputs.name }} ${{ matrix.target }}
