name: Lint
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      pull-requests: write
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/go
        with:
          app_id: ${{ vars.DOCKER_READ_APP_ID }}
          app_private_key: ${{ secrets.DOCKER_READ_APP_PRIVATE_KEY }}
      - name: Hub login
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERBUILDBOT_USERNAME }}
          password: ${{ secrets.DOCKERBUILDBOT_WRITE_PAT }}
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: cloud
          endpoint: "docker/secrets-engine"
          install: true
      - name: Lint
        run: make BUILDER=${{ steps.buildx.outputs.name }} lint
