name: Proto Generate Check

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      pull-requests: write
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Hub login
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERBUILDBOT_USERNAME }}
          password: ${{ secrets.DOCKERBUILDBOT_WRITE_PAT }}

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: cloud
          endpoint: "docker/secrets-engine"
          install: true

      - name: Check if protobuf generate is clean
        run: |
          make BUILDER=${{ steps.buildx.outputs.name }} proto-generate
          if [[ -n "$(git status --porcelain)" ]]; then
            echo "::error::Protobuf files need to be regenerated. Please run 'make proto-generate' and commit the changes."
            git status
            git diff
            exit 1
          fi