name: Release
on:
  workflow_dispatch:
    inputs:
      branch:
        description: "Branch"
        required: true
        default: "main"
      tag:
        description: "Release Tag"
        required: true
permissions:
  id-token: write
  contents: write
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    env:
      GITHUB_WORKFLOW_URL: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
      TAG: ${{ github.event.inputs.tag }}
      BRANCH: ${{ github.event.inputs.branch }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/go
        with:
          app_id: ${{ vars.DOCKER_READ_APP_ID }}
          app_private_key: ${{ secrets.DOCKER_READ_APP_PRIVATE_KEY }}
      - name: "Release tag '${{ github.event.inputs.tag }}' should be semver prefixed with 'v'"
        shell: bash
        run: |
          if [[ ! $TAG =~ ^v[0-9]+\.[0-9]+\.[0-9]+(-[0-9A-Za-z.-]+)?$ ]]; then
            echo "::error::Invalid tag '${TAG}'. Tags must start with 'v' and follow semver (vMAJOR.MINOR.PATCH[-PRERELEASE])."
            exit 1
          fi
      - name: Hub login
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERBUILDBOT_USERNAME }}
          password: ${{ secrets.DOCKERBUILDBOT_WRITE_PAT }}
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: cloud
          endpoint: "docker/secrets-engine"
          install: true
      - name: Build NRI Plugin
        run: make BUILDER=${{ steps.buildx.outputs.name }} nri-plugin-package
      - name: Build secrets engine
        run: make BUILDER=${{ steps.buildx.outputs.name }} engine-package
      - name: Build mysecret docker cli plugin
        run: make BUILDER=${{ steps.buildx.outputs.name }} mysecret-package
      - name: Ship it
        uses: ncipollo/release-action@v1
        with:
          artifacts: "./dist/*.tar.gz"
          draft: true
          tag: ${{ env.TAG }}
          commit: ${{ env.BRANCH }}
          generateReleaseNotes: true
