name: Unit Tests
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.work
      - name: Unit Tests
        run: make unit-tests
